.Rproj.user
.Rhistory
.RData
.Ruserdata
notrack
windows
*.o
*.dll
*.obj
*.so
*.a
**.vscode
src/build
rGEDI.Rcheck
*.log
rGEDI*.tar.gz
Meta
doc
inst/gdal
inst/proj
src/Makevars
src/Makevars.ucrt
config.status
test.R
check
check_win
autom4te.cache
aclocal.m4

